extends default
block content
  :markdown-it
    ## Licence
    Le logiciel flippeducation est [libre][1] et [open source][2];
    vous pouvez le redistribuer et le modifier sous les termes de
    [la version 3 de la licence publique générale GNU][3]
    ou toute version ultérieure. Le code source est disponible à
    <https://github.com/flippeducation/flippeducation>.

    [1]: https://www.gnu.org/philosophy/free-sw.html
    [2]: https://opensource.org/osd
    [3]: https://www.gnu.org/licenses/gpl-3.0.html
