extends default
append head
  link(rel="stylesheet" type="text/css" href="/css/search.css")
block content
  form
    input#search(
      type="search" name="title"
      placeholder="Enter the title of the video here"
    )
    input#submit1(type="submit" value="Search")
    br
    input#advanced-options-button(
      type="button" value="Advanced Options"
      onclick="showHideAdvancedOptions()"
    )
    #advanced-options(hidden)
      label Language
        select(name="lang")
          option English
      br
      label Subject
        select(name="subject")
          option Math
          option Science
          option English
      br
      label Grade Level
          input(name="grade-level" placeholder="Grade Level")
      br
      label Age
          input(type="number" name="age" min="0" max="256")
      br
      input(type="submit" value="Search")
  script(src="js/search.js")