.pure-menu-heading {
    padding-left: 0;
}

nav {
    margin: 1em 0;
}

.flash {
    background-color: rgb(66, 184, 221);
}

.main {
    padding: 0.5em 1.5em;
}

a {
    color: #61809b;
}

a:hover, a:active {
    color: #167ac6;
}

.footer {
    color: #666666;
    margin: 2em 0;
    text-align: center;
}

/*
The following code is adapted from
the Responsive Horizontal-to-Vertical Menu code found at
<https://purecss.io/layouts/tucked-menu-vertical/>, which is
available under the zlib License as per <https://purecss.io/layouts/>.
*/
#hamburger-toggle-checkbox {
    display: none;
}

nav {
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

#hamburger-toggle-checkbox:checked ~ nav {
    height: 10em;
}

#hamburger-toggle-checkbox:checked ~ nav .pure-menu-link {
    position: relative;
}

#hamburger-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 1.5em;
    right: 0.5em;
    display: none;
    cursor: pointer;
}

#hamburger-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 1em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#hamburger-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

#hamburger-toggle-checkbox:checked ~ nav #hamburger-toggle .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-toggle-checkbox:checked ~ nav #hamburger-toggle
    .bar:first-child
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger-toggle-checkbox:checked ~ nav .pure-menu-horizontal
    .pure-menu-item,
#hamburger-toggle-checkbox:checked ~ nav .pure-menu-horizontal
    .pure-menu-heading,
#hamburger-toggle-checkbox:checked ~ nav .pure-menu-horizontal
    .pure-menu-separator
{
    display: block;
}

@media (max-width: 47.999em) {
    #hamburger-toggle {
        display: block;
    }

    #menu-items {
        display: none;
    }

    #hamburger-toggle-checkbox:checked ~ nav #menu-items {
        display: inline-block;
    }
}
/* End of code adapted from "Responsive Horizontal-to-Vertical Menu". */
